#!/sbin/sh
#
# CDDL HEADER START
#
# The contents of this file are subject to the terms of the
# Common Development and Distribution License (the "License").
# You may not use this file except in compliance with the License.
#
# You can obtain a copy of the license at usr/src/OPENSOLARIS.LICENSE
# or http://www.opensolaris.org/os/licensing.
# See the License for the specific language governing permissions
# and limitations under the License.
#
# When distributing Covered Code, include this CDDL HEADER in each
# file and include the License file at usr/src/OPENSOLARIS.LICENSE.
# If applicable, add the following below this CDDL HEADER, with the
# fields enclosed by brackets "[]" replaced with your own identifying
# information: Portions Copyright [yyyy] [name of copyright owner]
#
# CDDL HEADER END
#
# Copyright 2009 Sun Microsystems, Inc.  All rights reserved.
# Use is subject to license terms.
#

include drv_utils

#
# PCI ids known to work
#
# 11ab,4354 - 88E8040
# 11ab,4363 - 88E8055
# 11ab,4362 - 88E8053
# 11ab,4364 - 88E8056
# 11ab,436a - 88E8058
# 1186,4b00 - DGE-560T (D-Link)
#
# Untested candidates - many of these are likely to work, but
# need to be tested.
#
# 1148,9000 - SK-9000 (SysKonnect)
# 1148,9e00 - SK-9EXX (SysKonnect)
# 1186,4001 - DGE-550SX (D-Link)
# 1186,4b02 - DGE-560SX (D-Link)
# 1186,4b03 - DGE-550T (D-Link)
# 11ab,4340 - 88E8021
# 11ab,4341 - 88E8022
# 11ab,4342 - 88E8061
# 11ab,4343 - 88E8062
# 11ab,4344 - 88E8021
# 11ab,4345 - 88E8022
# 11ab,4346 - 88E8061
# 11ab,4347 - 88E8062
# 11ab,4350 - 88E8035
# 11ab,4351 - 88E8036
# 11ab,4352 - 88E8038
# 11ab,4353 - 88E8039
# 11ab,4356 - 88EC033
# 11ab,4357 - 88E8042
# 11ab,435a - 88E8048
# 11ab,4361 - 88E8050
# 11ab,4365 - 88E8070
# 11ab,4366 - 88EC036
# 11ab,4367 - 88EC032
# 11ab,4368 - 88EC034
# 11ab,4369 - 88EC042
# 11ab,436b - 88E8071
# 11ab,436c - 88E8072
# 11ab,436d - 88E8055
#
# Problem PCI ids.  These have known issues.
#
# 11ab,4380 - 88E8057 (can TX, but RX fails)
#

pkg_drvadd -i \
    '"pciex11ab,4354"
    "pciex11ab,4355"
    "pciex11ab,4362"
    "pciex11ab,4363"
    "pciex11ab,4364"
    "pciex11ab,436a"
    "pciex1186,4b00"' \
    -m '* 0666 root sys' yge || exit 1
