\ Loader.rc
\
\ Includes additional commands
include /boot/forth/loader.4th

\ For SmartOS, override the default color scheme back to the more traditional
\ black background and white foreground.
set tem.fg_color=white
set tem.bg_color=black

\ As another SmartOS customization, work around OS-8160 by limiting the size of
\ the framebuffer.
framebuffer set 1024x768

try-include /boot/loader.rc.local

\ Reads and processes loader.conf variables
\ NOTE: Change to `start' if you disable the below boot menu
\ also note that initialize will leave flag in stack from any_conf_read?
\ start
initialize drop

\ Tests for password -- executes autoboot first if a password was defined
check-password

\ Load in the boot menu
include /boot/forth/beastie.4th

\ Start the boot menu
beastie-start
