#
# This file and its contents are supplied under the terms of the
# Common Development and Distribution License ("CDDL"), version 1.0.
# You may only use this file in accordance with the terms of version
# 1.0 of the CDDL.
#
# A full copy of the text of the CDDL should have accompanied this
# source.  A copy of the CDDL is also available via the Internet at
# http://www.illumos.org/license/CDDL.
#

#
# Copyright 2025 Oxide Computer Company
#

proto/
clobber-*.out
install-*.out

__pycache__

sgs/include/sys
sgs/*/*.[chs]
!sgs/sgsmsg/sgsmsg.c

svc/libsqlite/*.[ch]
svc/svccfg/svccfg_grammar.[ch]
svc/svccfg/svccfg_lex.c
svc/libuutil/sys
localedef/parser.tab.[ch]
smatch/src/check_list_local.h
smatch/src/version.h

btxld/btxld
codesign/findcrypto
codesign/signit
codesign/signproto
cpcgen/cpcgen
cscope-fast/cscope-fast
ctf/ctfconvert/i386/ctfconvert
ctf/ctfdiff/i386/ctfdiff
ctf/ctfdump/i386/ctfdump
ctf/ctfmerge/i386/ctfmerge
ctf/ctfstrip/ctfstrip
ctf/stabs/i386/ctfstabs
cw/cw
elfextract/elfextract
env/illumos
find_elf/find_elf
findunref/exception_list
findunref/findunref
geniconvtbl/geniconvtbl
install.bin/install.bin
lex/lex
lintdump/lintdump
localedef/localedef
make/bin/make
makesoftcore/makesoftcore
man/man
mandoc/mandoc
manlink/manlink
mbh_patch/mbh_patch
ndrgen/ndrgen
ndrgen/ndrgen1
protocmp/protocmp
protolist/protolist
rpcgen/rpcgen
scripts/bldenv.1onbld
scripts/build_cscope
scripts/cddlchk
scripts/check_rtime
scripts/check-gitignore
scripts/checkpaths
scripts/copyrightchk
scripts/cstyle
scripts/elfcmp
scripts/flg.flp
scripts/genoffsets
scripts/git-pbchk
scripts/hdrchk
scripts/interface_check
scripts/interface_cmp
scripts/jstyle
scripts/mapfilechk
scripts/onu
scripts/onu.sh
scripts/protocmp.terse
scripts/validate_flg
scripts/validate_paths
scripts/validate_pkg
scripts/wdiff
scripts/webrev
scripts/which_scm
scripts/ws
scripts/wscheck
scripts/wsdiff
scripts/xref
sgs/ld/ld
sgs/libconv/bld_vernote
sgs/sgsmsg/sgsmsg
smatch/smatch
svc/configd/svc.configd
svc/libsqlite/lemon
svc/libsqlite/parse_tmp.out
svc/libsqlite/parse_tmp.y
svc/svccfg/svccfg
tic/tic
vtfontcvt/vtfontcvt
yacc/yacc
zic/zic
