#!/sbin/sh
#
# CDDL HEADER START
#
# The contents of this file are subject to the terms of the
# Common Development and Distribution License (the "License").
# You may not use this file except in compliance with the License.
#
# You can obtain a copy of the license at usr/src/OPENSOLARIS.LICENSE
# or http://www.opensolaris.org/os/licensing.
# See the License for the specific language governing permissions
# and limitations under the License.
#
# When distributing Covered Code, include this CDDL HEADER in each
# file and include the License file at usr/src/OPENSOLARIS.LICENSE.
# If applicable, add the following below this CDDL HEADER, with the
# fields enclosed by brackets "[]" replaced with your own identifying
# information: Portions Copyright [yyyy] [name of copyright owner]
#
# CDDL HEADER END
#
# Copyright 2009 Sun Microsystems, Inc.  All rights reserved.
# Use is subject to license terms.
#

PKG_NAME=SUNWtpm
DRV=tpm
DRVPERM='* 0600 root sys'
ADD_DRV=/usr/sbin/add_drv

DEVLINKTB=${BASEDIR}/etc/devlink.tab
ACPITABLE=${BASEDIR}/boot/solaris/devicedb/master
TMP=/tmp/$$

ISA_TYPE_I386="i386"
ISA_TYPE_SPARC="sparc"
ISA_TYPE="$ARCH"

#
# TPM support is only available on x86 platforms.
#
if [ "${ISA_TYPE}" != "${ISA_TYPE_I386}" ]; then
	exit 0
fi

#
# Check if the BASEDIR option is needed
#
if [ "${BASEDIR:=/}" = "/" ]; then
	ADD_DRV_FLAGS=""
	NAME_TO_MAJOR="/etc/name_to_major"
	DEVLINK_TAB="/etc/devlink.tab"
else
	ADD_DRV_FLAGS="-b ${BASEDIR}"
	NAME_TO_MAJOR="${BASEDIR}/etc/name_to_major"
	DEVLINK_TAB="${BASEDIR}/etc/devlink.tab"
fi

add_driver()
{
	#
	# Make sure add_drv has not been previously executed before attempting
	# to add the driver
	#
	grep "^${DRV} " ${NAME_TO_MAJOR} > /dev/null 2>&1
	if [ $? -ne 0 ]; then
		${ADD_DRV} ${ADD_DRV_FLAGS} -m "${DRVPERM}" ${DRV}
		if [ $? -ne 0 ]; then
			echo "${PKG_NAME}: add_drv ${DRV} failed." >&2
			exit 1
		fi
	fi
}

#
# add_devlink - adds an entry to ${DEVLINKTB}
#
add_devlink()
{
	PATTERN="$1"
	LINK="$2"
	PLINK="`echo $LINK | sed 's/[$*^|\]/\\\&/g'`"
	grep -v "^$PATTERN	$PLINK$" ${DEVLINKTB} >$TMP.devlink
	echo "$PATTERN\t$LINK" >>$TMP.devlink
	cp $TMP.devlink ${DEVLINKTB}
	rm -f $TMP.devlink
}

#
# Update ACPI table if the entry is not already present.
#
add_acpi()
{
	/usr/bin/grep PNP0C31 ${ACPITABLE} > $TMP.acpi
	if [ $? -ne 0 ] ; then
		echo 'PNP0C31|ATM1200|IFX0102|BCM0101|NSC1200 tpm oth all none "Trusted Platform Module"' >> ${ACPITABLE}
	fi
}

# Add entry to /etc/devlink.tab if not there already
# Note: the tab after ${DRV} here is important.

add_devlink 'type=ddi_pseudo;name=tpm' '\\D'
add_acpi
add_driver

exit 0
