#! /bin/sh
#
# CDDL HEADER START
#
# The contents of this file are subject to the terms of the
# Common Development and Distribution License (the "License").
# You may not use this file except in compliance with the License.
#
# You can obtain a copy of the license at usr/src/OPENSOLARIS.LICENSE
# or http://www.opensolaris.org/os/licensing.
# See the License for the specific language governing permissions
# and limitations under the License.
#
# When distributing Covered Code, include this CDDL HEADER in each
# file and include the License file at usr/src/OPENSOLARIS.LICENSE.
# If applicable, add the following below this CDDL HEADER, with the
# fields enclosed by brackets "[]" replaced with your own identifying
# information: Portions Copyright [yyyy] [name of copyright owner]
#
# CDDL HEADER END
#
#
# Copyright 2009 Sun Microsystems, Inc.  All rights reserved.
# Use is subject to license terms.
#
# SUNWad810 postinstall script

include drv_utils

I810_ALIASES="\
	'\"pci1022,7445\"' \
	'\"pci1022,746d\"' \
	'\"pci1039,7012\"' \
	'\"pci8086,2415\"' \
	'\"pci8086,2425\"' \
	'\"pci8086,2445\"' \
	'\"pci8086,2485\"' \
	'\"pci8086,24c5\"' \
	'\"pci8086,24d5\"' \
	'\"pci8086,266e\"' \
	'\"pci8086,25a6\"' \
	'\"pci8086,2698\"' \
	'\"pci8086,27de\"' \
	'\"pci8086,7195\"' \
	'\"pci10de,1b1\"' \
	'\"pci10de,6a\"' \
	'\"pci10de,8a\"' \
	'\"pci10de,da\"' \
	'\"pci10de,ea\"' \
	'\"pci10de,59\"' \
	'\"pci10de,3a\"' \
	'\"pci10de,26b\"' \
	"
	
pkg_drvadd -i "${I810_ALIASES}" audio810 || exit 1
