#
# This file and its contents are supplied under the terms of the
# Common Development and Distribution License ("CDDL"), version 1.0.
# You may only use this file in accordance with the terms of version
# 1.0 of the CDDL.
#
# A full copy of the text of the CDDL should have accompanied this
# source.  A copy of the CDDL is also available via the Internet at
# http://www.illumos.org/license/CDDL.
#

#
# Copyright 2025 Oxide Computer Company
# Copyright 2025 MNX Cloud, Inc.
#

# Note: this does not try to ignore all files in a fully built workspace.
# Rather, you are expected to "make clobber" before running "git status".

/closed
/log
/packages
/proto
/webrev
/.vscode
/on-closed-bin*.tar.bz2
/illumos.sh
