#
# Copyright 2006 Sun Microsystems, Inc.  All rights reserved.
# Use is subject to license terms.
#
# ident	"%Z%%M%	%I%	%E% SMI"
#

#
# This required package information file describes characteristics of the
# package, such as package abbreviation, full package name, package version,
# and package architecture.
#
PKG="SUNWifp"
NAME="Sun Fibre Channel Arbitrated Loop Device Driver"
ARCH="sparc"
CATEGORY="system"
BASEDIR=/
SUNW_PKGVERS="1.0"
SUNW_PKGTYPE="root"
CLASSES="none"
DESC="Sun FC-AL Device Driver For QLogic Fibre Channel Family"
SUNW_PRODNAME="SunOS"
SUNW_PRODVERS="RELEASE/VERSION"
VERSION="ONVERS,REV=0.0.0"
VENDOR="Sun Microsystems, Inc."
HOTLINE="Please contact your local service provider"
EMAIL=""
MAXINST="1000"
SUNW_PKG_ALLZONES="true"
SUNW_PKG_HOLLOW="true"
SUNW_PKG_THISZONE="false"
