#
# Copyright 2008 Sun Microsystems, Inc.  All rights reserved.
# Use is subject to license terms.
#

PKG=SUNWaac
NAME=Adaptec AdvanceRaid Controller SCSI HBA Driver
ARCH="ISA"
VERSION="ONVERS,REV=0.0.0"
SUNW_PRODNAME="SunOS"
SUNW_PRODVERS="RELEASE/VERSION"
SUNW_PKGVERS="1.0"
SUNW_PKGTYPE="root"
MAXINST="1000"
CATEGORY=system
VENDOR="Sun Microsystems, Inc."
DESC="Adaptec AdvanceRaid Controller SCSI HBA Driver"
CLASSES="none aacconf"
HOTLINE="Please contact your local service provider"
EMAIL=""
BASEDIR=/
SUNW_PKG_ALLZONES="true"
SUNW_PKG_HOLLOW="true"
SUNW_PKG_THISZONE="false"
