#
# Copyright 2006 Sun Microsystems, Inc.  All rights reserved.
# Use is subject to license terms.
#
# ident	"%Z%%M%	%I%	%E% SMI"
#

PKG=SUNWixgb
NAME=Intel(R) PRO/10G Server Adapter Driver
ARCH="ISA"
SUNW_PRODNAME=SunOS
SUNW_PRODVERS="RELEASE/VERSION"
SUNW_PKGVERS=1.0
SUNW_PKGTYPE=root
MAXINST=1000
CATEGORY=system
CLASSES=none
DESC=Intel(R) PRO/10G Server Adapter Driver
VENDOR="Sun Microsystems, Inc."
HOTLINE=Please contact your local service provider
EMAIL=
BASEDIR=/
VERSION="ONVERS,REV=0.0.0"
SUNW_PKG_ALLZONES="true"
SUNW_PKG_HOLLOW="true"
SUNW_PKG_THISZONE="false"
