#
# This file and its contents are supplied under the terms of the
# Common Development and Distribution License ("CDDL"), version 1.0.
# You may only use this file in accordance with the terms of version
# 1.0 of the CDDL.
#
# A full copy of the text of the CDDL should have accompanied this
# source.  A copy of the CDDL is also available via the Internet at
# http://www.illumos.org/license/CDDL.
#

#
# Copyright 2025 Oxide Computer Company
# Copyright 2025 MNX Cloud, Inc.
#

# Common binary names...
*_kcf
*_pkcs
*.i386
*.amd64
*.32
*.64
# ... with some specific exclusions
!**/data/*.32
!**/data/*.64
!util-tests/tests/awk/examples/*/p.32
!util-tests/tests/grep_xpg4/files/gout.t1.*

# Generated in-guest payloads
bhyve-tests/tests/*/pobj_*.s

# All the rest
bhyve-tests/tests/inst_emul/cpuid
bhyve-tests/tests/inst_emul/cpuid_guest_state
bhyve-tests/tests/inst_emul/exit_consistent
bhyve-tests/tests/inst_emul/exit_paging
bhyve-tests/tests/inst_emul/imul
bhyve-tests/tests/inst_emul/inout
bhyve-tests/tests/inst_emul/page_dirty
bhyve-tests/tests/inst_emul/payload_cpuid
bhyve-tests/tests/inst_emul/payload_cpuid_guest_state
bhyve-tests/tests/inst_emul/payload_exit_consistent
bhyve-tests/tests/inst_emul/payload_exit_paging
bhyve-tests/tests/inst_emul/payload_imul
bhyve-tests/tests/inst_emul/payload_inout
bhyve-tests/tests/inst_emul/payload_page_dirty
bhyve-tests/tests/inst_emul/payload_rdmsr
bhyve-tests/tests/inst_emul/payload_suspend_info
bhyve-tests/tests/inst_emul/payload_triple_fault
bhyve-tests/tests/inst_emul/payload_vcpu_barrier
bhyve-tests/tests/inst_emul/payload_wrmsr
bhyve-tests/tests/inst_emul/rdmsr
bhyve-tests/tests/inst_emul/suspend_info
bhyve-tests/tests/inst_emul/triple_fault
bhyve-tests/tests/inst_emul/vcpu_barrier
bhyve-tests/tests/inst_emul/wrmsr
bhyve-tests/tests/kdev/guest_tsc_adjust
bhyve-tests/tests/kdev/payload_guest_tsc_adjust
bhyve-tests/tests/kdev/payload_rdmsr_tsc
bhyve-tests/tests/kdev/payload_tsc_freq_ctrl
bhyve-tests/tests/kdev/payload_vatpit_freq
bhyve-tests/tests/kdev/payload_vhpet_freq
bhyve-tests/tests/kdev/payload_vlapic_freq
bhyve-tests/tests/kdev/payload_vlapic_freq_periodic
bhyve-tests/tests/kdev/payload_vlapic_mmio_access
bhyve-tests/tests/kdev/payload_vlapic_msr_access
bhyve-tests/tests/kdev/payload_vpmtmr_freq
bhyve-tests/tests/kdev/payload_vrtc_ops
bhyve-tests/tests/kdev/payload_wrmsr_tsc
bhyve-tests/tests/kdev/rdmsr_tsc
bhyve-tests/tests/kdev/tsc_freq_ctrl
bhyve-tests/tests/kdev/vatpit_freq
bhyve-tests/tests/kdev/vhpet_freq
bhyve-tests/tests/kdev/vlapic_freq
bhyve-tests/tests/kdev/vlapic_freq_periodic
bhyve-tests/tests/kdev/vlapic_mmio_access
bhyve-tests/tests/kdev/vlapic_msr_access
bhyve-tests/tests/kdev/vpmtmr_freq
bhyve-tests/tests/kdev/vrtc_ops
bhyve-tests/tests/kdev/wrmsr_tsc
bhyve-tests/tests/perf/entry_exit
bhyve-tests/tests/perf/payload_entry_exit
bhyve-tests/tests/viona/create_delete
bhyve-tests/tests/viona/interface_version
bhyve-tests/tests/viona/link_params
bhyve-tests/tests/vmm/auto_destruct
bhyve-tests/tests/vmm/check_iommu
bhyve-tests/tests/vmm/cpuid_ioctl
bhyve-tests/tests/vmm/datarw_constraints
bhyve-tests/tests/vmm/datarw_msrs
bhyve-tests/tests/vmm/datarw_vcpu
bhyve-tests/tests/vmm/default_capabs
bhyve-tests/tests/vmm/drv_hold
bhyve-tests/tests/vmm/fpu_getset
bhyve-tests/tests/vmm/import_vlapic
bhyve-tests/tests/vmm/interface_version
bhyve-tests/tests/vmm/legacy_destruct
bhyve-tests/tests/vmm/maxcpu
bhyve-tests/tests/vmm/mem_devmem
bhyve-tests/tests/vmm/mem_high
bhyve-tests/tests/vmm/mem_partial
bhyve-tests/tests/vmm/mem_seg_map
bhyve-tests/tests/vmm/npt_ops
bhyve-tests/tests/vmm/pause_resume
bhyve-tests/tests/vmm/self_destruct
bhyve-tests/tests/vmm/time_data

crypto-tests/tests/longhash/longhash_32
crypto-tests/tests/longhash/longhash_64

elf-tests/tests/assert-deflib/test-deflib
elf-tests/tests/linker-sets/in-use-check
elf-tests/tests/linker-sets/simple
elf-tests/tests/mapfiles/assert/test-assert
elf-tests/tests/mapfiles/parser/test-parser
elf-tests/tests/relocs/amd64/gotpcrelx/gotpcrelx
elf-tests/tests/relocs/amd64/gotpcrelx/rex_gotpcrelx
elf-tests/tests/relocs/i386/got32x/got32x
elf-tests/tests/string-merge/simple
elf-tests/tests/tls/amd64/ie/amd64-ie-test
elf-tests/tests/tls/amd64/ld/amd64-ld-test
elf-tests/tests/tls/i386/ld/i386-ld-test

libc-tests/tests/catopen/catopen
libc-tests/tests/err/err
libc-tests/tests/fexecve/fexecve_test
libc-tests/tests/fpround/fpround_test
libc-tests/tests/i18n/bindtextdomain_test
libc-tests/tests/newlocale/newlocale_test
libc-tests/tests/nl_langinfo/nl_langinfo_test
libc-tests/tests/printf-intmax/printf-intmax.c89
libc-tests/tests/priv_gettext/priv_gettext
libc-tests/tests/qsort/qsort_test
libc-tests/tests/random/arc4random
libc-tests/tests/random/arc4random_fork
libc-tests/tests/random/arc4random_forkall
libc-tests/tests/random/arc4random_forksig
libc-tests/tests/random/arc4random_prefork
libc-tests/tests/random/arc4random_preforkall
libc-tests/tests/random/arc4random_preforksig
libc-tests/tests/random/arc4random_rekey
libc-tests/tests/random/chacha
libc-tests/tests/random/getentropy
libc-tests/tests/random/getrandom
libc-tests/tests/random/getrandred
libc-tests/tests/random/inz_child
libc-tests/tests/random/inz_inval
libc-tests/tests/random/inz_mlock
libc-tests/tests/random/inz_region
libc-tests/tests/random/inz_split
libc-tests/tests/random/inz_split_vpp
libc-tests/tests/random/inz_vpp
libc-tests/tests/regex/testregex
libc-tests/tests/select/select_test
libc-tests/tests/stdio/ftello_12768.lfs
libc-tests/tests/symbols/setup
libc-tests/tests/threads/pthread_attr_get_np
libc-tests/tests/threads/thread_name
libc-tests/tests/wcsrtombs/wcsrtombs_test
libc-tests/tests/wctype/wctype_test

libmlrpc-tests/tests/netrlogon/krb5_pac_tests/krb5_pac_decode
libmlrpc-tests/tests/netrlogon/krb5_pac_tests/run_krb5_pac_tests
libmlrpc-tests/tests/netrlogon/samlogon_tests/run_samlogon_tests
libmlrpc-tests/tests/netrlogon/samlogon_tests/samlogon

libsec-tests/cmd/acl_fromtext
libsec-tests/cmd/acl_totext

os-tests/tests/cores/secmapper/secmapper
os-tests/tests/ddi_ufm/ufm-test
os-tests/tests/ddi_ufm/ufm-test-cleanup
os-tests/tests/ddi_ufm/ufm-test-setup
os-tests/tests/i386/badseg
os-tests/tests/i386/badseg_exec
os-tests/tests/i386/ldt
os-tests/tests/imc/imc_test
os-tests/tests/libtopo/digraph-test
os-tests/tests/mac/mac_cksum
os-tests/tests/mac/mac_parsing
os-tests/tests/minttl/minttl
os-tests/tests/minttl/minttl_err
os-tests/tests/oclo/oclo
os-tests/tests/oclo/oclo_errors
os-tests/tests/oclo/ocloexec_verify
os-tests/tests/pf_key/15146
os-tests/tests/pf_key/acquire-compare
os-tests/tests/pf_key/acquire-spray
os-tests/tests/pf_key/eacq-enabler
os-tests/tests/pf_key/kmc-update
os-tests/tests/pf_key/kmc-updater
os-tests/tests/poll/epoll_test
os-tests/tests/poll/poll_test
os-tests/tests/regression/illumos-15031
os-tests/tests/regression/illumos-15036
os-tests/tests/saveargs/functional/align
os-tests/tests/saveargs/functional/basic
os-tests/tests/saveargs/functional/big-struct-ret
os-tests/tests/saveargs/functional/big-struct-ret-and-spill
os-tests/tests/saveargs/functional/functional
os-tests/tests/saveargs/functional/small-struct-ret
os-tests/tests/saveargs/functional/small-struct-ret-and-spill
os-tests/tests/saveargs/functional/stack-spill
os-tests/tests/saveargs/testmatch/testmatch
os-tests/tests/sdevfs/sdevfs_eisdir
os-tests/tests/secflags/addrs-32
os-tests/tests/secflags/addrs-64
os-tests/tests/secflags/secflags_aslr
os-tests/tests/secflags/secflags_core
os-tests/tests/secflags/secflags_dts
os-tests/tests/secflags/secflags_elfdump
os-tests/tests/secflags/secflags_forbidnullmap
os-tests/tests/secflags/secflags_limits
os-tests/tests/secflags/secflags_noexecstack
os-tests/tests/secflags/secflags_proc
os-tests/tests/secflags/secflags_psecflags
os-tests/tests/secflags/secflags_syscall
os-tests/tests/secflags/secflags_truss
os-tests/tests/secflags/secflags_zonecfg
os-tests/tests/secflags/stacky
os-tests/tests/secure_getenv/checker
os-tests/tests/secure_getenv/secure_getenv
os-tests/tests/signalfd/basic_args
os-tests/tests/signalfd/basic_read
os-tests/tests/signalfd/multipoll
os-tests/tests/sigqueue/sigqueue_queue_size
os-tests/tests/sockfs/conn
os-tests/tests/sockfs/dgram
os-tests/tests/sockfs/drop_priv
os-tests/tests/sockfs/nosignal
os-tests/tests/sockfs/so_protocol
os-tests/tests/sockfs/sockpair
os-tests/tests/spoof-ras/spoof-ras
os-tests/tests/stress/dladm-kstat
os-tests/tests/tcpsig/tcpsig
os-tests/tests/timer/timer_limit
os-tests/tests/tmpfs/tmpfs_full
os-tests/tests/uccid/atrparse
os-tests/tests/uccid/excl-badread
os-tests/tests/uccid/excl-basic
os-tests/tests/uccid/excl-close
os-tests/tests/uccid/excl-loop
os-tests/tests/uccid/excl-nonblock
os-tests/tests/uccid/excl-reset
os-tests/tests/uccid/modify
os-tests/tests/uccid/notxn-poll
os-tests/tests/uccid/pollin
os-tests/tests/uccid/pollout
os-tests/tests/uccid/status
os-tests/tests/uccid/txn-pollerr
os-tests/tests/uccid/yk
os-tests/tests/uccid/yk-poll
os-tests/tests/uccid/yk-readonly
os-tests/tests/zen_umc/zen_umc_test

smbclient-tests/cmd/abort_conn/abort_conn
smbclient-tests/cmd/close_wr/close_wr
smbclient-tests/cmd/cp_mmap/cp_mmap
smbclient-tests/cmd/file_trunc/file_trunc
smbclient-tests/cmd/mkfile_mmap/mkfile_mmap
smbclient-tests/cmd/no_close/no_close
smbclient-tests/cmd/prot_mmap/prot_mmap
smbclient-tests/cmd/rw_mmap/rw_mmap

smbsrv-tests/tests/smb_sid/large_sids_kern
smbsrv-tests/tests/smb_sid/large_sids_lib
smbsrv-tests/tests/smb_sid/smb_sid.c

util-tests/tests/bunyan/btest
util-tests/tests/cpmvln/checker
util-tests/tests/cpmvln/mkobj
util-tests/tests/ctf/check-array
util-tests/tests/ctf/check-enum
util-tests/tests/ctf/check-float-32
util-tests/tests/ctf/check-float-64
util-tests/tests/ctf/check-forward-32
util-tests/tests/ctf/check-forward-64
util-tests/tests/ctf/check-function
util-tests/tests/ctf/check-int-32
util-tests/tests/ctf/check-int-64
util-tests/tests/ctf/check-merge-dedup
util-tests/tests/ctf/check-merge-forward-32
util-tests/tests/ctf/check-merge-forward-64
util-tests/tests/ctf/check-merge-reduction
util-tests/tests/ctf/check-merge-static
util-tests/tests/ctf/check-merge-weak
util-tests/tests/ctf/check-qualifiers
util-tests/tests/ctf/check-reference
util-tests/tests/ctf/check-sou-32
util-tests/tests/ctf/check-sou-64
util-tests/tests/ctf/check-weak
util-tests/tests/demangle/afl-fast
util-tests/tests/demangle/gcc-libstdc++
util-tests/tests/demangle/llvm-stdcxxabi
util-tests/tests/demangle/rust
util-tests/tests/iconv/iconv_test
util-tests/tests/libcustr/custr_remove
util-tests/tests/libcustr/custr_trunc
util-tests/tests/libnvpair_json/print_json
util-tests/tests/libsff/libsff_8472
util-tests/tests/libsff/libsff_8636_diag
util-tests/tests/libsff/libsff_8636_extspec
util-tests/tests/libsff/libsff_8636_tech
util-tests/tests/libsff/libsff_8636_temp
util-tests/tests/libsff/libsff_br
util-tests/tests/libsff/libsff_compliance
util-tests/tests/libsff/libsff_conn
util-tests/tests/libsff/libsff_efault
util-tests/tests/libsff/libsff_einval
util-tests/tests/libsff/libsff_enc
util-tests/tests/libsff/libsff_ident
util-tests/tests/libsff/libsff_lengths
util-tests/tests/libsff/libsff_opts
util-tests/tests/libsff/libsff_strings
util-tests/tests/libsff/libsff_wave
util-tests/tests/mdb/progs/anon
util-tests/tests/mdb/progs/bitfields
util-tests/tests/mdb/progs/number_symbol
util-tests/tests/mergeq/mqt
util-tests/tests/workq/wqt

zfs-tests/cmd/btree_test/btree_test
zfs-tests/cmd/chg_usr_exec/chg_usr_exec
zfs-tests/cmd/devname2devid/devname2devid
zfs-tests/cmd/dir_rd_update/dir_rd_update
zfs-tests/cmd/dos_ro/dos_ro
zfs-tests/cmd/file_check/file_check
zfs-tests/cmd/file_trunc/file_trunc
zfs-tests/cmd/file_write/file_write
zfs-tests/cmd/getholes/getholes
zfs-tests/cmd/has_unmap/has_unmap
zfs-tests/cmd/largest_file/largest_file
zfs-tests/cmd/memory_balloon/memory_balloon
zfs-tests/cmd/mkbusy/mkbusy
zfs-tests/cmd/mkfiles/mkfiles
zfs-tests/cmd/mkholes/mkholes
zfs-tests/cmd/mktree/mktree
zfs-tests/cmd/mmapwrite/mmapwrite
zfs-tests/cmd/randfree_file/randfree_file
zfs-tests/cmd/randwritecomp/randwritecomp
zfs-tests/cmd/readmmap/readmmap
zfs-tests/cmd/rename_dir/rename_dir
zfs-tests/cmd/rm_lnkcnt_zero_file/rm_lnkcnt_zero_file
zfs-tests/cmd/watch_dir/watch_dir
zfs-tests/tests/functional/channel_program/lua_core/nvlist_to_lua.exe
zfs-tests/tests/functional/channel_program/synctask_core/change_key.exe
zfs-tests/tests/functional/checksum/edonr/amd64/edonr_test
zfs-tests/tests/functional/checksum/edonr/i386/edonr_test
zfs-tests/tests/functional/checksum/sha2/amd64/sha2_test
zfs-tests/tests/functional/checksum/sha2/i386/sha2_test
zfs-tests/tests/functional/checksum/skein/amd64/skein_test
zfs-tests/tests/functional/checksum/skein/i386/skein_test
zfs-tests/tests/functional/cli_root/zfs_diff/socket
zfs-tests/tests/functional/ctime/ctime_001_pos
zfs-tests/tests/functional/exec/mmap_exec
zfs-tests/tests/functional/libzfs/many_fds
zfs-tests/tests/functional/resilver/sysevent
zfs-tests/tests/functional/threadsappend/threadsappend
