#ident	"%Z%%M%	%I%	%E% SMI"
#
# Copyright 2005 Sun Microsystems, Inc.  All rights reserved.
# Use is subject to license terms.
#
# CDDL HEADER START
#
# The contents of this file are subject to the terms of the
# Common Development and Distribution License, Version 1.0 only
# (the "License").  You may not use this file except in compliance
# with the License.
#
# You can obtain a copy of the license at usr/src/OPENSOLARIS.LICENSE
# or http://www.opensolaris.org/os/licensing.
# See the License for the specific language governing permissions
# and limitations under the License.
#
# When distributing Covered Code, include this CDDL HEADER in each
# file and include the License file at usr/src/OPENSOLARIS.LICENSE.
# If applicable, add the following below this CDDL HEADER, with the
# fields enclosed by brackets "[]" replaced with your own identifying
# information: Portions Copyright [yyyy] [name of copyright owner]
#
# CDDL HEADER END
#
# Privileged pppd options for a given physical device may be placed here.
# Typically, asyncmap, crtscts, baud rate, and other hardware-related
# options are placed here, along with remote IP addresses for dial-in
# nodes when using "dynamic IP addressing."
#
# Options in this file, /etc/ppp/options, /etc/ppp/peers/<name>,
# /etc/ppp/pap-secrets, and /etc/ppp/chap-secrets are all considered
# privileged.  Those from ~/.ppprc and the command line are privileged
# if the invoker is root, and unprivileged otherwise.
#
38400			# default baud rate for this port
asyncmap 0xa0000	# work around broken peers
:192.168.1.1		# allow dial-up users to get this address
