#!/usr/bin/ksh
#
# This file and its contents are supplied under the terms of the
# Common Development and Distribution License ("CDDL"), version 1.0.
# You may only use this file in accordance with the terms of version
# 1.0 of the CDDL.
#
# A full copy of the text of the CDDL should have accompanied this
# source.  A copy of the CDDL is also available via the Internet at
# http://www.illumos.org/license/CDDL.

#
# Copyright 2020 Tintri by DDN, Inc. All rights reserved.
#

# The NETBIOS domain name to which the server is joined.
export NETBIOS_DOMAIN="DOMAIN"
# An FQDN of a dc in the domain.
export DC_FQDN="dc.domain.com"
# The authenticating user.
export USERNAME="user"
# The name of the computer from which the user is authenticating.
export CLIENT_COMPUTER="client1"

#
# Binary files exported from Wireshark, containing parts of a
# NetrSamLogon(Ex) request.
#
export CHALLENGE_FILE=/path/to/challenge.bin
export NT_RESPONSE_FILE=/path/to/nt_file.bin
export LM_RESPONSE_FILE=/path/to/lm_file.bin