#
# This file and its contents are supplied under the terms of the
# Common Development and Distribution License ("CDDL"), version 1.0.
# You may only use this file in accordance with the terms of version
# 1.0 of the CDDL.
#
# A full copy of the text of the CDDL should have accompanied this
# source.  A copy of the CDDL is also available via the Internet at
# http://www.illumos.org/license/CDDL.
#

#
# Copyright 2025 Oxide Computer Company
#

rpcsvc/bootparam_prot.h
rpcsvc/mount.h
rpcsvc/nfs4_prot.h
rpcsvc/nfs_acl.h
rpcsvc/nfs_prot.c
rpcsvc/nfs_prot.h
rpcsvc/nis.h
rpcsvc/rquota.h
rpcsvc/rstat.h
rpcsvc/rusers.h
rpcsvc/rwall.h
rpcsvc/spray.h
rpcsvc/ufs_prot.h
