# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Users\owelo\Source\Repos\illumos-gate\usr\src\boot codebase based on best match to current usage at 7/26/2021
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

