#!/usr/bin/ksh
#
# This file and its contents are supplied under the terms of the
# Common Development and Distribution License ("CDDL"), version 1.0.
# You may only use this file in accordance with the terms of version
# 1.0 of the CDDL.
#
# A full copy of the text of the CDDL should have accompanied this
# source.  A copy of the CDDL is also available via the Internet at
# http://www.illumos.org/license/CDDL.

#
# Copyright 2019 Joyent, Inc.
#

#
# See the tests/forwarding/README file for information about how to
# configure and run the tests.
#
export NT_CLIENT=client_zone_name
export NT_ROUTER=router_zone_name
export NT_SERVER=server_zone_name
