#
# CDDL HEADER START
#
# The contents of this file are subject to the terms of the
# Common Development and Distribution License (the "License").
# You may not use this file except in compliance with the License.
#
# You can obtain a copy of the license at usr/src/OPENSOLARIS.LICENSE
# or http://www.opensolaris.org/os/licensing.
# See the License for the specific language governing permissions
# and limitations under the License.
#
# When distributing Covered Code, include this CDDL HEADER in each
# file and include the License file at usr/src/OPENSOLARIS.LICENSE.
# If applicable, add the following below this CDDL HEADER, with the
# fields enclosed by brackets "[]" replaced with your own identifying
# information: Portions Copyright [yyyy] [name of copyright owner]
#
# CDDL HEADER END
#

#
# Copyright 2008 Sun Microsystems, Inc.  All rights reserved.
# Use is subject to license terms.
#

[Desktop Entry]
Name=Printers
Name[de]=Drucker
Name[es]=Impresoras
Name[fr]=Imprimantes
Name[it]=Stampanti
Name[ja]=プリンタ
Name[ko]=프린터
Name[pt_BR]=Impressoras
Name[zh_CN]=打印机
Name[zh_HK]=印表機
Name[zh_TW]=印表機
Comment=Set printer detection and connection behavior
Comment[de]=Verhalten für Druckererkennung und -verbindung festlegen
Comment[es]=Definir la detección de impresoras y el comportamiento de conexión
Comment[fr]=Définir la détection des imprimantes et le comportement des connexions
Comment[it]=Impostare la rilevazione della stampante e il comportamento della connessione
Comment[ja]=プリンタの検出および接続の動作を設定します
Comment[ko]=프린터 감지 및 연결 동작 설정
Comment[pt_BR]=Definir comportamento de conexão e detecção da impressora
Comment[zh_CN]=设置打印机检测和连接行为
Comment[zh_HK]=設定印表機偵測和連線的運作方式
Comment[zh_TW]=設定印表機偵測和連線的運作方式
Exec=env DESKTOP_LAUNCHED=true /usr/bin/desktop-print-management-prefs
Icon=print-manager
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;
OnlyShowIn=GNOME;
