#
# CDDL HEADER START
#
# The contents of this file are subject to the terms of the
# Common Development and Distribution License (the "License").
# You may not use this file except in compliance with the License.
#
# You can obtain a copy of the license at usr/src/OPENSOLARIS.LICENSE
# or http://www.opensolaris.org/os/licensing.
# See the License for the specific language governing permissions
# and limitations under the License.
#
# When distributing Covered Code, include this CDDL HEADER in each
# file and include the License file at usr/src/OPENSOLARIS.LICENSE.
# If applicable, add the following below this CDDL HEADER, with the
# fields enclosed by brackets "[]" replaced with your own identifying
# information: Portions Copyright [yyyy] [name of copyright owner]
#
# CDDL HEADER END
#

#
# Copyright 2008 Sun Microsystems, Inc.  All rights reserved.
# Use is subject to license terms.
#

[Desktop Entry]
Name=Print Manager
Name[cs]=Kontrola Tisku
Name[de]=Drucküberwachung
Name[es]=Supervisor de impresión
Name[fr]=Moniteur d'impression
Name[it]=Monitor di stampa
Name[ja]=印刷モニター
Name[ko]=인쇄 모니터
Name[pt_BR]=Monitor de impressão
Name[zh_CN]=打印监视器
Name[zh_HK]=列印監視器
Name[zh_TW]=列印監視器
Comment=Manage your printer queues and jobs
Comment[cs]=Správa tiskových front a procesů
Comment[de]=Druckerwarteschlangen und Druckaufträge verwalten
Comment[es]=Administre las tareas y colas de la impresora
Comment[fr]=Gérer les files d'attente et travaux de l'imprimante
Comment[it]=Gestisci le code e i processi della stampante
Comment[ja]=プリンタのキューおよびジョブを管理する
Comment[ko]=프린터 대기열 및 작업 관리
Comment[pt_BR]=Gerenciar filas e trabalhos da impressora
Comment[zh_CN]=管理打印机队列和作业
Comment[zh_HK]=管理印表機佇列和工作
Comment[zh_TW]=管理印表機佇列和工作
Exec=env DESKTOP_LAUNCHED=true /usr/bin/desktop-print-management-prefs
Icon=print-manager
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;
OnlyShowIn=GNOME;
