# tcpkeys   - This file takes the file format documented in tcpkey(8).
#             Note that naming services might not be available when this file
#             loads, just like ipsecinit.conf.
#
# This file should be copied into /etc/inet/secret/tcpkeys and modified, and
# the svc:/network/tcpkey:default service enabled in order for the keys to be
# loaded into the TCP Security Association Database at boot.

# add src 192.168.1.1 dst 192.168.1.2 dport 179 authalg md5 authstring s3kr1t
# add src 192.168.1.2 dst 192.168.1.1 sport 179 authalg md5 authstring s3kr1t

