#
# This file and its contents are supplied under the terms of the
# Common Development and Distribution License ("CDDL"), version 1.0.
# You may only use this file in accordance with the terms of version
# 1.0 of the CDDL.
#
# A full copy of the text of the CDDL should have accompanied this
# source.  A copy of the CDDL is also available via the Internet at
# http://www.illumos.org/license/CDDL.
#

#
# Copyright 2025 Oxide Computer Company
# Copyright 2025 MNX Cloud, Inc.
#

*.i

# Generated offset/struct definitions
assym.h
cp_offsets.h
genassym

iconv_modules/ja/i386/*.c
iconv_modules/ja/amd64/*.c
iconv_modules/utf-8/*.bt
iconv_modules/**/.modules_installed
iconv_modules/**/.links_created
iconv_modules/euro/amd64/tbl.h
iconv_modules/euro/i386/tbl.h

libnisdb/*_xdr.c
!libnisdb/ldap_xdr.c

librpcsvc/common/*_xdr.c
!librpcsvc/common/mountlist_xdr.c

libadt_jni/com/sun/audit/AuditEvent*.java

smbsrv/libmlsvc/i386/*.c
smbsrv/libmlsvc/amd64/*.c

brand/bhyve/zone/bhhwcompat
brand/bhyve/zone/boot
brand/lx/lx_brand/amd64/lx_provider_impl.h
brand/lx/lx_brand/i386/lx_provider_impl.h
brand/lx/lx_init/lxinit
brand/lx/lx_lockd/lx_lockd
brand/lx/lx_support/lx_support
brand/lx/lx_vdso/tools/vdso_tool
brand/lx/netfiles/etc_default_nfs
brand/lx/zone/lx_boot
brand/lx/zone/lx_boot_zone_busybox
brand/lx/zone/lx_boot_zone_debian
brand/lx/zone/lx_boot_zone_docker
brand/lx/zone/lx_boot_zone_redhat
brand/lx/zone/lx_boot_zone_suse
brand/lx/zone/lx_boot_zone_ubuntu
brand/lx/zone/lx_boot_zone_void
brand/lx/zone/lx_install
brand/lx/zone/lx_uninstall
brand/lx/zone/poststate
brand/lx/zone/prestate
brand/lx/zone/statechange
brand/shared/zone/query
brand/sn1/zone/sn1_boot
brand/solaris10/cmd/s10_isaexec_wrapper
brand/solaris10/cmd/s10_native
brand/solaris10/cmd/s10_net_physical
brand/solaris10/s10_replacefile/s10_replacefile
brand/solaris10/s10_support/s10_support
brand/solaris10/zone/attach
brand/solaris10/zone/clone
brand/solaris10/zone/detach
brand/solaris10/zone/image_install
brand/solaris10/zone/p2v
brand/solaris10/zone/postattach
brand/solaris10/zone/poststate
brand/solaris10/zone/prestate
brand/solaris10/zone/preuninstall
brand/solaris10/zone/s10_boot
brand/solaris10/zone/uninstall

libbunyan/amd64/bunyan_provider_impl.h
libbunyan/i386/bunyan_provider_impl.h

c_synonyms/amd64/mapfile-vers
c_synonyms/amd64/synonym_list
c_synonyms/i386/mapfile-vers
c_synonyms/i386/synonym_list

cfgadm_plugins/sbd/common/ap_err.c
cfgadm_plugins/sbd/sbdgenerr

fm/libfmd_adm/amd64/fmd_rpc.c
fm/libfmd_adm/amd64/fmd_rpc_adm.h
fm/libfmd_adm/amd64/fmd_rpc_adm.x
fm/libfmd_adm/amd64/fmd_xdr.c
fm/libfmd_adm/i386/fmd_rpc.c
fm/libfmd_adm/i386/fmd_rpc_adm.h
fm/libfmd_adm/i386/fmd_rpc_adm.x
fm/libfmd_adm/i386/fmd_xdr.c

fm/libfmevent/common/fmev_errstring.c

fm/topo/libtopo/common/topo_error.c
fm/topo/libtopo/common/topo_tables.c
fm/topo/maps/Joyent,Joyent-Compute-Platform-1101/Joyent-Compute-Platform-1101-disk-hc-topology.xml
fm/topo/maps/SMCI,SSG-2028R-ACR24L/SSG-2028R-ACR24L-disk-hc-topology.xml
fm/topo/maps/SMCI,SSG-2029P-ACR24L/SSG-2029P-ACR24L-disk-hc-topology.xml
fm/topo/maps/SUNW,Netra-X4200-M2/Netra-X4200-M2-disk-hc-topology.xml
fm/topo/maps/SUNW,Sun-Fire-X4200-M2/Sun-Fire-X4200-M2-disk-hc-topology.xml
fm/topo/maps/SUNW,Sun-Fire-X4200-Server/Sun-Fire-X4200-Server-disk-hc-topology.xml
fm/topo/maps/SUNW,Sun-Fire-X4500/Sun-Fire-X4500-disk-hc-topology.xml
fm/topo/maps/SUNW,Sun-Fire-X4540/Sun-Fire-X4540-disk-hc-topology.xml
fm/topo/maps/SUNW,Sun-Fire-X4600-M2/Sun-Fire-X4600-M2-disk-hc-topology.xml
fm/topo/maps/i386/xfp-hc-topology.xml
fm/topo/maps/i86pc/fan-hc-topology.xml

gss_mechs/mech_dh/backend/mech/dhmech_prot.h
gss_mechs/mech_dh/backend/mech/xdr_token.c
gss_mechs/mech_krb5/amd64/kwarnd.h
gss_mechs/mech_krb5/amd64/kwarnd_clnt.c
gss_mechs/mech_krb5/amd64/kwarnd_clnt_stubs.c
gss_mechs/mech_krb5/amd64/kwarnd_handle.c
gss_mechs/mech_krb5/amd64/kwarnd_xdr.c
gss_mechs/mech_krb5/i386/kwarnd.h
gss_mechs/mech_krb5/i386/kwarnd_clnt.c
gss_mechs/mech_krb5/i386/kwarnd_clnt_stubs.c
gss_mechs/mech_krb5/i386/kwarnd_handle.c
gss_mechs/mech_krb5/i386/kwarnd_xdr.c

hal/libhal-storage/amd64/hal-storage.pc
hal/libhal-storage/i386/hal-storage.pc
hal/libhal/amd64/hal.pc
hal/libhal/i386/hal.pc

krb5/kadm5/clnt/iprop.h
krb5/kdb/iprop.h
krb5/kdb/iprop_xdr.c

libads/common/ads_priv.h
libads/common/adspriv_xdr.c

libadt_jni/common/adt_jni_event.c
libadt_jni/common/mapfile-vers

libbsm/audit_uevents.h
libbsm/common/adt_event.h
libbsm/common/adt_xlate.c

libc/THIRDPARTYLICENSE
libc/extract-copyright
libc/i386/crt/_rtbootld.S
libc/i386/etc/caplib
libc/port/gen/errlst.c
libc/port/gen/new_list.c

libcurses/screen/curses.h
libcurses/screen/keycaps
libcurses/screen/keyname.c
libcurses/screen/term.h
libcurses/screen/termcap.c
libcurses/screen/tifget.c
libcurses/screen/tifnames.c
libcurses/screen/tiget.c
libcurses/screen/tinames.c
libcurses/screen/tmp/
libcurses/screen/tnames.c

libdtrace/amd64/dt_grammar.c
libdtrace/amd64/dt_grammar.h
libdtrace/amd64/dt_lex.c
libdtrace/amd64/y.output
libdtrace/common/dt_errtags.c
libdtrace/common/dt_names.c
libdtrace/common/errno.d
libdtrace/common/io.d
libdtrace/common/io.sed
libdtrace/common/ip.d
libdtrace/common/ip.sed
libdtrace/common/mac.d
libdtrace/common/mac.sed
libdtrace/common/net.d
libdtrace/common/net.sed
libdtrace/common/procfs.d
libdtrace/common/procfs.sed
libdtrace/common/signal.d
libdtrace/common/sysevent.d
libdtrace/common/sysevent.sed
libdtrace/common/tcp.d
libdtrace/common/tcp.sed
libdtrace/common/udp.d
libdtrace/common/udp.sed
libdtrace/i386/dt_grammar.c
libdtrace/i386/dt_grammar.h
libdtrace/i386/dt_lex.c
libdtrace/i386/regs.d
libdtrace/i386/regs.sed
libdtrace/i386/y.output
libexacct/demo/exdump

libfakekernel/common/sid.c

libficl/softcore/softcore.c

libfru/amd64/pics/
libfru/i386/pics/

libfsmgt/common/nfs_sec.c
libfsmgt/common/replica.c
libfsmgt/common/sharetab.c

libidmap/amd64/idmap_xdr.c
libidmap/i386/idmap_xdr.c

libipmi/common/ipmi_tables.c

libkmf/THIRDPARTYLICENSE

libmd/amd64/md5_amd64.S
libmd/amd64/pics/
libmd/amd64/sha1-x86_64.S
libmd/amd64/sha256-x86_64.S
libmd/amd64/sha512-x86_64.S

libmlrpc/amd64/rpcpdu_ndr.c
libmlrpc/i386/rpcpdu_ndr.c

libnisdb/db.h
libnisdb/db_c.h
libnisdb/db_dictionary.h
libnisdb/db_dictionary_c.h
libnisdb/db_dictlog.h
libnisdb/db_dictlog_c.h
libnisdb/db_entry.h
libnisdb/db_entry_c.h
libnisdb/db_index.h
libnisdb/db_index_c.h
libnisdb/db_index_entry.h
libnisdb/db_index_entry_c.h
libnisdb/db_item.h
libnisdb/db_item_c.h
libnisdb/db_log.h
libnisdb/db_log_c.h
libnisdb/db_log_entry.h
libnisdb/db_log_entry_c.h
libnisdb/db_mindex.h
libnisdb/db_mindex_c.h
libnisdb/db_query.h
libnisdb/db_query_c.h
libnisdb/db_scheme.h
libnisdb/db_scheme_c.h
libnisdb/db_table.h
libnisdb/db_table_c.h
libnisdb/db_vers.h
libnisdb/db_vers_c.h

libnsl/nis/gen/nis_clnt.h

libresolv2/include/make_os_version
libresolv2/include/os_version.h
libresolv2/include/port_ipv6.h
libresolv2/include/probe_ipv6
libresolv2_joy/include/os_version.h
libresolv2_joy/include/port_ipv6.h

librpcsvc/common/nlm_prot.c
librpcsvc/common/rpc_sztypes.c

libsasl/THIRDPARTYLICENSE

libsec/amd64/acl.output
libsec/amd64/acl.tab.c
libsec/amd64/acl.tab.h
libsec/amd64/acl_lex.c
libsec/i386/acl.output
libsec/i386/acl.tab.c
libsec/i386/acl.tab.h
libsec/i386/acl_lex.c

libsecdb/auth_attr
libsecdb/exec_attr
libsecdb/prof_attr
libsecdb/user_attr

libslp/classes/

libsmbios/common/smb_tables.c
libsmedia/library/common/smed.h
libsmedia/library/common/smed_clnt.c
libsmedia/library/common/smed_xdr.c

libsqlite/i386/lemon
libsqlite/i386/lempar.c
libsqlite/i386/opcodes.c
libsqlite/i386/opcodes.h
libsqlite/i386/parse.c
libsqlite/i386/parse.h
libsqlite/i386/parse_tmp.c
libsqlite/i386/parse_tmp.h
libsqlite/i386/parse_tmp.out
libsqlite/i386/parse_tmp.y
libsqlite/sqlite.h

libuuid/amd64/uuid.pc
libuuid/i386/uuid.pc

libxcurses/h/term.h
libxcurses/src/libc/xcurses/boolcode.c
libxcurses/src/libc/xcurses/boolfnam.c
libxcurses/src/libc/xcurses/boolname.c
libxcurses/src/libc/xcurses/keyindex.c
libxcurses/src/libc/xcurses/numcode.c
libxcurses/src/libc/xcurses/numfnam.c
libxcurses/src/libc/xcurses/numname.c
libxcurses/src/libc/xcurses/strcode.c
libxcurses/src/libc/xcurses/strfnam.c
libxcurses/src/libc/xcurses/strname.c

libxcurses2/h/term.h
libxcurses2/src/libc/xcurses/boolcode.c
libxcurses2/src/libc/xcurses/boolfnam.c
libxcurses2/src/libc/xcurses/boolname.c
libxcurses2/src/libc/xcurses/keyindex.c
libxcurses2/src/libc/xcurses/numcode.c
libxcurses2/src/libc/xcurses/numfnam.c
libxcurses2/src/libc/xcurses/numname.c
libxcurses2/src/libc/xcurses/strcode.c
libxcurses2/src/libc/xcurses/strfnam.c
libxcurses2/src/libc/xcurses/strname.c

libzpool/common/zfs.h

pkcs11/libsoftcrypto/amd64/arcfour-x86_64.S

policykit/libpolkit/i386/polkit.pc

print/libpapi-lpd/i386/lpd-port

sasl_plugins/gssapi/THIRDPARTYLICENSE

scsi/libscsi/common/scsi_errno.c
scsi/libses/common/ses_errno.c
scsi/libsmp/common/smp_errno.c
scsi/plugins/ses/libses/common/libses_elemtype.c

smbsrv/libfksmbsrv/common/fksmb_dt.h
smbsrv/libsmb/common/smb_status_tbl.h
