#
# This file and its contents are supplied under the terms of the
# Common Development and Distribution License ("CDDL"), version 1.0.
# You may only use this file in accordance with the terms of version
# 1.0 of the CDDL.
#
# A full copy of the text of the CDDL should have accompanied this
# source.  A copy of the CDDL is also available via the Internet at
# http://www.illumos.org/license/CDDL.
#

#
# Copyright 2025 Oxide Computer Company
#

*.exec
*_stage1_5

grub-0.97/grub/grub
grub-0.97/stage1/stage1
grub-0.97/stage2/diskless
grub-0.97/stage2/nbgrub
grub-0.97/stage2/nbloader
grub-0.97/stage2/pre_stage2
grub-0.97/stage2/pxegrub
grub-0.97/stage2/pxeloader
grub-0.97/stage2/stage2
grub-0.97/stage2/stage2_eltorito
grub-0.97/stage2/start
grub-0.97/stage2/start_eltorito

grub-0.97/stage2/diskless_size.h
grub-0.97/stage2/stage2_size.h
